<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<plugins>
		<plugin interceptor="stu.mybatis.official.plugin.MyPlugin"></plugin>
	</plugins> 
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://114.215.97.155:3306/jf_dev_edc" />
				<property name="username" value="jfdev" />
				<property name="password" value="Egw4frZio643G354" />
			</dataSource>
		</environment>
	</environments>
	
	
	<mappers>
		<mapper resource="stu/mybatis/official/base/GoodMapper.xml" />
	</mappers>
</configuration>